# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.env
venv/
backend/garmentstore.db
backend/static/

# Node
node_modules/
frontend/node_modules/
dist/
frontend/dist/
.DS_Store

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
